body{
	padding: 0;
	margin: 0;	
	width:100vw;
	height: 100vh;	
	background-color: #FFF0B3;
}
.panel{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.lessonexercise{
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.question-container{
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	color: white;
	/*background-color: #c7dddf;*/
	background-color: #5E17EB;
	/*background-color: #E483FF;*/
	font-size: x-large;
	text-align: center;
	
}
.image-container{
	margin: 10px;
	padding: 5px;
	width: 40vw;
	height: 30vh;
	/*background-color: #c7dddf;*/
	background-color: #E483FF;
	/*background-color: #5E17EB;*/
	font-size: x-large;
	text-align: center;
	
}
.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 5vh;
	text-align: center;
	font-size: 50px;
	
}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	/*background-color: #9eb1b3;*/
	background-color: #FFF0B3;
}
.option{	
	padding: 10px;
	width: 15vw;
	height: 10vh;
	font-size: larger;
	/*background-color: lightskyblue;*/
	background-color: #00DF02;
	/*border-radius: 25%;*/
}
.chapterButtons{	
	padding: 10px;
	width: 50vw;
	height: 50vh;
	font-size: 120px;
	margin-left: 40px;
	margin-right: 40px;
	/*background-color: lightskyblue;*/
	background-color: #00DF02;
	/*border-radius: 25%;*/
}
.chapterButtons:hover{
	background-color: #5E17EB;
	color: white;
}
.chapter{	
	padding: 10px;
	width: 15vw;
	height: 10vh;
	font-size: larger;
	margin-bottom: 5px;
	/*background-color: lightskyblue;*/
	background-color: #00DF02;
	/*border-radius: 25%;*/
}
.chapter:hover{
	background-color: #5E17EB;
	color: white;
}
.option:hover{
/*	background-color: lightgoldenrodyellow;*/
	/*background-color: #FFF0B3;*/
	/*background-color: #E483FF;pink*/
	background-color: #5E17EB;
}
.navigation{
	width: 80vw;
	height: 10vh;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	/*background-color:#c7dddf;*/
	background-color: #FFF0B3;
}

.zoom{
	width: 60vw;
	height:10vh;
	margin: 10px;
	padding: 2px;
	display: flex;
	justify-content: space-around;
	/*background-color:#c7dddf;*/
	background-color: #FFF0B3;
}
.evaluate,.next, .previous, .zoomin, .zoomout{
	width:20vw;
	height: 8vh;
	/*padding: 5px;*/
	font-size: larger;
	/*background-color: #FFF0B3;*/
}
.evaluate{
	
	/*background-color: #50DBB4;*/
	color: white;
	background-color: #FF1616;
}
.previous{
	color: white;
	/*background-color: #BF3325;*/
	background-color: #FF1616;
}
.zoomin{
	color: white;
	/*background-color: #BF3325;*/
	background-color: #FF1616;
}
.zoomout{
	color: white;
	/*background-color: #BF3325;*/
	background-color: #FF1616;
}
.next{
	color: white;
	/*background-color: #BF3325;*/
	background-color: #FF1616;
}
